/SoundaryaProj/EnergyConsumption/obj
/SoundaryaProj/MyFirstAIProject/.vs/MyFirstAIProject.slnx/copilot-chat
/SoundaryaProj/MyFirstAIProject/.vs
/SoundaryaProj/EnergyConsumption/bin
*.cache
*.cache
/SoundaryaProj/Models/obj
/SoundaryaProj/Models/obj/Debug
/SoundaryaProj/Models/obj
/SoundaryaProj/MyFirstAIProject/obj/Debug
/SoundaryaProj/MyFirstAIProject/obj/Debug
/SoundaryaProj/MyFirstAIProject/obj/Debug/net10.0
*.cache
/SoundaryaProj/MyFirstAIProject/obj/Debug
SoundaryaProj/Models/obj/Debug/net10.0/Models.AssemblyInfoInputs.cache
/SoundaryaProj/Models/obj/Debug
SoundaryaProj/MyFirstAIProject/obj/Debug/net10.0/EnergyDashboard.AssemblyInfo.cs
/SoundaryaProj/MyFirstAIProject/obj
/SoundaryaProj/MyFirstAIProject/obj
/SoundaryaProj/MyFirstAIProject
/SoundaryaProj/MyFirstAIProject/obj
/SoundaryaProj/Models/obj
